/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Universal selector to override default */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic styles */


body {
     background-color: #3083f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
}
/* Header */
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%; 
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  

}

header a {
            text-decoration: none;
            color: inherit;   
}

 nav {
     position: absolute;
     background-color: aqua;
     width: 100%;
     left: 0;
     padding: 0 1rem;
     box-shadow: 0 2px 2px #6b6b6b;
     display: none;
     top: 100%;

 }

 /* nav toggle */
#nav-toggle:checked~nav {
    display: block;
    
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
.active {
    border-bottom: 1px solid #6b6b6b;
}

h1 {
    font-family: 'Oswald', sans-serif;
    padding: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #242424;
}
#menu {
   font-size: 110%;
   letter-spacing: 3px;
   list-style-type: none;
}


#menu > li {
    margin-bottom: 1em;

}
.active {
    border-bottom: 1px solid #242424;
}

/*main content*/
main {
    background-color: lightblue;
    flex: 1 0 auto;
    margin-top: 47px;
}
/* Add media queries for responsiveness tablet and larger (768px and upto)*/
@media screen and (max-width: 500px) {
    /* header */ 
    nav {
      display : block;
      position  : relative;
      box-shadow:  none;
      width:  fit-content;
      padding-right: 1rem;
    }
      
    }
