/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Universal selector to override default */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
}

/* Header */

header {
    background-color: #860b0b;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #242424;
    margin: 0;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav {
    position: fixed;
    background-color: #1664c9;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0.5rem;
    box-shadow: 2px 0 2px #3a3a3a;
    display: none;
}

/* nav toggle */
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    cursor: pointer;
    order: -1;
    margin-left: 1rem; /* Adjusted margin for space between the toggle and the left edge */
}

#nav-toggle:checked ~ nav {
    display: block;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #ffffff;
}

/*main content*/

main {
    background-color: rgb(5, 106, 139);
    flex: 1;
    padding-top: 4rem; 
    overflow-y: auto; /* Allow vertical scrolling if content exceeds viewport */
}

/* footer */
footer {
    background-color: #0d7691;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -2px 2px #3a3a3a;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#social-network {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-network i {
    font-size: 200%;
    padding: 5%;
    color: #3a3a3a;
}

/* Add media queries for responsiveness tablet and larger (768px and up) */
@media screen and (max-width: 500px) {
    /* header */
    header {
        padding: 0.5rem; /* Adjusted padding for smaller screens */
    }

    /* nav toggle */
    .nav-toggle-label {
        display: none;
    }

    #nav-toggle:checked ~ .nav-toggle-label {
        display: block;
    }

    nav {
        width: 100%;
        padding: 0.5rem; /* Adjusted padding for smaller screens */
    }
}

/* large devices and desktop, 992px up to */
@media screen and (min-width: 992px) {
    /* Adjust header padding to accommodate left navigation */
    header {
        padding-left: 200px;
    }
}